<% provide(:title, "About") %>
<h1>About</h1>
<p>
  A copy-cat clone of Twitter. But worse, so much worse. Why? Because it's Twittwo ofcourse. And the second version of everything is always crap.
</p>
