<% provide(:title, "Contact") %>
<div class="wrapper contact">
  <h1>Contact Us</h1>
  <p>
    If you want to send us praise please email: hithere@twittwo.com.<br>
    If you want to complain, please don't.
  </p>
</div>
