<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Sorry, we couldn't be bothered writing an FAQ. Checkout Twitter's help <a href="https://help.twitter.com/en">page</a>. Whatever they say will work here too...probably.
</p>
