<% provide(:title, "Help") %>

<div class="wrapper help">
  <h1>Help</h1>
  <p>
    Sorry, we couldn't be bothered writing an FAQ. Checkout Twitter's help <a href="https://help.twitter.com/en">page</a>. Whatever they say will work here too...probably.
  </p>

  <p>
    Lorem ipsum dolor amet fam next level raclette, craft beer DIY organic occupy photo booth trust fund glossier wayfarers ennui readymade listicle. Migas iceland cold-pressed seitan keffiyeh. Photo booth unicorn waistcoat adaptogen. Direct trade marfa stumptown kogi occupy pinterest. Waistcoat everyday carry hoodie disrupt, art party biodiesel enamel pin ethical DIY four dollar toast tattooed hot chicken wolf.
  </p>

  <p>
    Live-edge fashion axe activated charcoal mustache ugh stumptown affogato disrupt pabst chambray. Occupy put a bird on it beard, dreamcatcher vinyl mixtape pabst fanny pack snackwave enamel pin. Vexillologist crucifix lyft brooklyn taxidermy readymade. Heirloom vaporware actually pinterest. Tumeric affogato copper mug street art franzen kickstarter thundercats pour-over offal.
  </p>

  <p>
    Subway tile health goth live-edge activated charcoal artisan brooklyn pinterest pop-up bitters PBR&B poke vice synth vexillologist. Semiotics readymade aesthetic fashion axe marfa gochujang cred narwhal dreamcatcher microdosing kickstarter. Whatever chambray letterpress air plant fashion axe sriracha hot chicken selfies actually iPhone leggings farm-to-table authentic hashtag. Unicorn kitsch tumblr celiac distillery blog. Pinterest cloud bread listicle, kinfolk marfa +1 yuccie ethical craft beer iceland. Cloud bread ramps marfa, pork belly tumeric tofu paleo skateboard. Subway tile actually gentrify church-key 8-bit.
  </p>

  <p>
    Edison bulb literally lumbersexual franzen. Single-origin coffee ramps pour-over mixtape pitchfork, kale chips aesthetic vaporware scenester pickled sartorial cliche church-key enamel pin taiyaki. Blog hoodie art party irony, health goth narwhal messenger bag edison bulb succulents chicharrones waistcoat street art ramps. 8-bit biodiesel hella salvia, twee waistcoat pinterest venmo pabst hot chicken pok pok lo-fi deep v tumeric. Pinterest twee mixtape, cold-pressed subway tile mlkshk meditation lomo drinking vinegar helvetica. PBR&B normcore farm-to-table, cloud bread kale chips tousled celiac bushwick semiotics ugh gluten-free helvetica knausgaard four dollar toast.
  </p>

  <p>
    Messenger bag pitchfork artisan marfa kinfolk, chartreuse put a bird on it. Schlitz wayfarers before they sold out iceland mlkshk tattooed cardigan vape 8-bit marfa. Migas +1 kale chips, subway tile copper mug chartreuse DIY four loko activated charcoal pop-up kinfolk helvetica palo santo godard af. +1 ugh keffiyeh air plant fixie put a bird on it brooklyn ennui disrupt. Dreamcatcher live-edge freegan man braid, pour-over wayfarers flannel tbh chicharrones master cleanse scenester. Snackwave put a bird on it williamsburg whatever hot chicken ennui.
  </p>

  <p>
    Oh. You need a little dummy text for your mockup? How quaint.
  </p>

  <p>
    I bet you’re still using Bootstrap too…
  </p>
</div>
