<div class="center jumbotron">
  <h1>twittwo</h1>

  <h2>
    Like Twitter, but <strong><span class="em">shitter</span></strong>.
  </h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-custom" %>
</div>


 <!-- <br>       Twitter 2.0 <br> or let's say, <em>Twittwo</em> -->
