<div class="container">
  <div class="center jumbotron">
    <div id="logo-svg">
       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="600px" height="180px"   viewBox="0 0 600 180" enable-background="new 0 0 600 180" xml:space="preserve">
          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 18.344177,142.72963 q -1.877333,-4.608 -2.730666,-10.58133 -0.853334,-6.144 -0.853334,-17.06667 0,-10.92266 4.096,-29.525332 h -7.68 q -2.0479998,0 -2.0479998,-1.706667 0,-4.096 0.6826667,-6.656 0.8533331,-2.730667 3.7546671,-6.144 h 4.096 q 2.389333,0 5.12,-0.170667 8.192,-26.282667 16.725334,-26.282667 6.826667,0.170666 9.557333,8.704 0.682667,2.389333 1.536,5.12 l -6.997333,12.288 q 11.946667,0.341334 15.018667,0.341334 3.242667,0 3.413333,0.682666 0.341334,0.512 0.341334,1.706667 0,3.072 -1.536,7.68 -1.365334,4.608 -3.242667,4.437334 L 40.530845,84.702964 q -3.584,20.821336 -3.584,34.474666 0,13.65334 3.925333,13.65334 3.242667,0 11.776,-5.29067 8.533334,-5.46133 12.288001,-10.41067 3.754667,-4.94933 6.144,-4.94933 2.389333,0 2.389333,5.80267 0,5.80266 -4.096,11.94666 -4.096,5.97334 -10.410667,11.09334 -6.144,4.94933 -13.824,8.192 -7.509334,3.24266 -13.141334,3.24266 -5.632,0 -8.704,-2.56 -2.901333,-2.73066 -4.949334,-7.168 z"
           style="font-size:10px"
           id="path118" />

          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 91.800178,76.852298 q 0,11.434667 -4.096,25.941332 0.341333,5.46134 0.341333,10.58134 0.341334,10.92266 2.730667,15.01866 1.706667,2.21867 4.437333,2.21867 5.290669,0 13.141339,-7.50933 -5.97334,-14.16534 -5.97334,-25.600005 0,-23.381334 22.016,-23.381334 7.50934,0 12.45867,4.437333 5.12,4.266667 5.12,10.752001 0,13.653335 -15.18933,32.768005 6.31466,7.50933 10.24,8.704 5.632,0 16.896,-20.82134 -2.048,-7.68 -2.048,-14.335999 0,-12.117333 3.75466,-17.749333 4.608,-7.168001 15.18934,-7.168001 10.752,0 12.11733,8.704001 0.34133,2.56 0.34133,5.461333 0,10.922667 -12.11733,30.207999 4.26667,6.144 8.02133,7.33867 7.85067,0 13.312,-5.29067 2.048,-1.87733 3.41334,-3.41333 1.536,-1.70667 3.072,-1.70667 2.38933,0 2.38933,5.632 0,10.41067 -6.144,15.36 -6.144,4.94934 -16.04267,4.94934 -9.89866,0 -17.23733,-9.55734 -8.87467,11.60534 -14.67733,16.21334 -10.58134,8.704 -16.55467,8.704 -2.90133,0 -7.50933,-4.77867 -4.43734,-4.94933 -8.87467,-12.8 -8.192,7.68 -16.213335,12.62933 -8.021334,4.94934 -13.482667,4.94934 -9.898667,0 -16.725334,-43.008 -2.389333,-14.677339 -2.389333,-20.138672 0.341333,-11.264 3.072,-15.701334 3.754666,-5.461333 14.677333,-5.461333 4.096001,0 6.314667,2.56 2.218667,2.389333 2.218667,5.290667 z M 120.98418,107.5723 q 5.632,-8.704002 5.632,-13.824002 0,-5.290667 -3.584,-5.290667 -2.38933,0 -3.072,2.730667 -0.512,2.56 -0.512,6.826667 0,4.266665 1.536,9.557335 z"
           style="font-size:10px"
           id="path120" />

          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 214.31484,152.45763 q -17.06666,0 -17.06666,-31.91466 0,-17.40801 4.26666,-31.573339 6.656,-21.845334 15.01867,-21.845334 4.94933,0 7.85067,6.656 2.38933,5.120001 2.21866,10.069334 0,6.826667 -4.096,24.063999 -3.92533,15.01867 -3.92533,18.60267 0,3.584 1.70667,4.94933 1.87733,1.36534 4.26666,1.36534 2.56,0 6.31467,-3.24267 3.75467,-3.24267 7.50934,-6.99733 3.75466,-3.92534 6.82666,-7.168 3.24267,-3.24267 4.43734,-3.24267 2.38933,0 2.38933,5.80267 0,11.94666 -12.11733,23.38133 -11.94667,11.264 -25.60001,11.09333 z m 6.99734,-99.157333 q -4.608,-6.826667 -4.608,-14.677334 0,-7.850667 2.38933,-12.970667 2.56,-5.290667 4.77867,-7.68 2.21866,-2.56 5.12,-2.56 4.77867,0 8.704,7.168 3.92533,6.997333 3.92533,11.776 0,8.874667 -6.31466,13.994667 -6.14401,4.949334 -13.99467,4.949334 z"
           style="font-size:10px"
           id="path122" />

          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 251.01085,142.72963 q -1.87733,-4.608 -2.73067,-10.58133 -0.85333,-6.144 -0.85333,-17.06667 0,-10.92266 4.096,-29.525332 h -7.68 q -2.048,0 -2.048,-1.706667 0,-4.096 0.68267,-6.656 0.85333,-2.730667 3.75466,-6.144 h 4.096 q 2.38934,0 5.12,-0.170667 8.192,-26.282667 16.72534,-26.282667 6.82666,0.170666 9.55733,8.704 0.68267,2.389333 1.536,5.12 l -6.99733,12.288 q 11.94666,0.341334 15.01866,0.341334 3.24267,0 3.41334,0.682666 0.34133,0.512 0.34133,1.706667 0,3.072 -1.536,7.68 -1.36533,4.608 -3.24267,4.437334 l -17.06666,-0.853334 q -3.584,20.821336 -3.584,34.474666 0,13.65334 3.92533,13.65334 3.24267,0 11.776,-5.29067 8.53333,-5.46133 12.288,-10.41067 3.75467,-4.94933 6.144,-4.94933 2.38933,0 2.38933,5.80267 0,5.80266 -4.096,11.94666 -4.096,5.97334 -10.41066,11.09334 -6.144,4.94933 -13.824,8.192 -7.50934,3.24266 -13.14134,3.24266 -5.632,0 -8.704,-2.56 -2.90133,-2.73066 -4.94933,-7.168 z"
           style="font-size:10px"
           id="path124" />

          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 305.01083,142.72963 q -1.87733,-4.608 -2.73066,-10.58133 -0.85334,-6.144 -0.85334,-17.06667 0,-10.92266 4.096,-29.525332 h -7.68 q -2.048,0 -2.048,-1.706667 0,-4.096 0.68267,-6.656 0.85333,-2.730667 3.75467,-6.144 h 4.096 q 2.38933,0 5.12,-0.170667 8.192,-26.282667 16.72533,-26.282667 6.82667,0.170666 9.55733,8.704 0.68267,2.389333 1.536,5.12 l -6.99733,12.288 q 11.94667,0.341334 15.01867,0.341334 3.24267,0 3.41333,0.682666 0.34134,0.512 0.34134,1.706667 0,3.072 -1.536,7.68 -1.36534,4.608 -3.24267,4.437334 L 327.1975,84.702964 q -3.584,20.821336 -3.584,34.474666 0,13.65334 3.92533,13.65334 3.24267,0 11.776,-5.29067 8.53334,-5.46133 12.28801,-10.41067 3.75466,-4.94933 6.144,-4.94933 2.38933,0 2.38933,5.80267 0,5.80266 -4.096,11.94666 -4.096,5.97334 -10.41067,11.09334 -6.144,4.94933 -13.824,8.192 -7.50933,3.24266 -13.14133,3.24266 -5.632,0 -8.704,-2.56 -2.90134,-2.73066 -4.94934,-7.168 z"
           style="font-size:10px"
           id="path126" />

          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 378.46683,76.852298 q 0,11.434667 -4.096,25.941332 0.34134,5.46134 0.34134,10.58134 0.34133,10.92266 2.73066,15.01866 1.70667,2.21867 4.43734,2.21867 5.29066,0 13.14133,-7.50933 -5.97333,-14.16534 -5.97333,-25.600005 0,-23.381334 22.016,-23.381334 7.50933,0 12.45867,4.437333 5.12,4.266667 5.12,10.752001 0,13.653335 -15.18934,32.768005 6.31467,7.50933 10.24,8.704 5.632,0 16.896,-20.82134 -2.048,-7.68 -2.048,-14.335999 0,-12.117333 3.75467,-17.749333 4.608,-7.168001 15.18933,-7.168001 10.752,0 12.11734,8.704001 0.34133,2.56 0.34133,5.461333 0,10.922667 -12.11733,30.207999 4.26666,6.144 8.02133,7.33867 7.85067,0 13.312,-5.29067 2.048,-1.87733 3.41333,-3.41333 1.536,-1.70667 3.072,-1.70667 2.38934,0 2.38934,5.632 0,10.41067 -6.144,15.36 -6.144,4.94934 -16.04267,4.94934 -9.89867,0 -17.23733,-9.55734 -8.87467,11.60534 -14.67734,16.21334 -10.58133,8.704 -16.55466,8.704 -2.90134,0 -7.50934,-4.77867 -4.43733,-4.94933 -8.87466,-12.8 -8.19201,7.68 -16.21334,12.62933 -8.02133,4.94934 -13.48267,4.94934 -9.89866,0 -16.72533,-43.008 -2.38933,-14.677339 -2.38933,-20.138672 0.34133,-11.264 3.072,-15.701334 3.75466,-5.461333 14.67733,-5.461333 4.096,0 6.31467,2.56 2.21866,2.389333 2.21866,5.290667 z m 29.18401,30.720002 q 5.632,-8.704002 5.632,-13.824002 0,-5.290667 -3.584,-5.290667 -2.38934,0 -3.072,2.730667 -0.512,2.56 -0.512,6.826667 0,4.266665 1.536,9.557335 z"
           style="font-size:10px"
           id="path128" />

          <path fill="none" stroke="#1da1f3" stroke-width="1"
           d="m 549.45084,137.43897 q -13.48267,15.872 -32.42667,15.872 -18.77334,0 -28.16,-9.55734 -9.38667,-9.728 -9.216,-24.064 -0.17067,-20.309332 12.8,-34.986666 12.97066,-14.677333 33.96267,-14.677333 9.55733,0 15.36,2.389333 10.06933,4.096 10.06933,7.68 0,2.730667 -14.16533,2.901334 -13.99467,0 -23.55201,9.728 -9.38666,9.557332 -9.38666,24.234672 0,7.68 4.43733,12.97066 4.608,5.12 12.8,5.12 8.36267,0 13.824,-3.41333 -12.11733,-8.192 -12.11733,-23.72267 -0.17067,-8.191998 5.80267,-14.847999 6.144,-6.826667 15.53066,-6.826667 9.55734,-0.170666 13.65334,5.120001 4.096,5.290666 4.096,13.653335 0,8.192 -3.92534,17.408 h 1.024 q 7.50934,-0.17067 12.97067,-5.29067 2.048,-2.048 3.41333,-3.584 1.536,-1.536 3.072,-1.536 2.38934,0 2.38934,5.632 0,10.41067 -6.144,15.70134 -6.144,5.12 -13.65334,5.12 -7.33866,0 -12.45866,-1.024 z m -1.536,-19.79734 q 2.90133,-6.144 2.90133,-11.94666 0,-5.802672 -3.75467,-5.802672 -1.536,0 -2.56,2.218662 -1.024,2.21867 -1.024,4.26667 0,6.82667 4.43734,11.264 z"
           style="font-size:10px"
           id="path130" />
        </svg>
      </div>

    <div id="slogan">
      <h2>
        Like Twitter, but <strong><span class="em">shitter.</span></strong>
      </h2>
    </div>


    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-custom btn-animation" %>
  </div>
</div>

<%= render 'layouts/footer' %>



 <!-- <br>       Twitter 2.0 <br> or let's say, <em>Twittwo</em> -->
