@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */

// colors
$main_blue: #1da1f3;
$pale_blue: #e6ecf0;
$light_gray: #66757f;
$white: #ffffff;
$btn: #31adad;
$btn_hover: #009999;
$dark_text: #14161b;
$input_bg: #fafeaf;
$placeholder: #95a6b2;

// fonts
$logo_font: 'Leckerli One', cursive;
$main_font: 'Montserrat', sans-serif;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Universal */

body {
  padding-top: 50px;
  background: $pale_blue;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-family: $main_font;
  color: $dark_text;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light_gray;
  font-family: $main_font;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $btn;
  padding: 10px;
}

ul.dropdown-menu a {
  color: $light_gray;

  &:hover {
    color: $main_blue;
    text-decoration: none;
    background: $white;
  }
}

a {
  color: $light_gray;

  &:hover {
    color: $main_blue;
    text-decoration: none;
  }
}

section {
  overflow: auto;
}

textarea {
resize: vertical;
}

/* Header */

// Logo SVG

path {
  font-size: 128px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  fill: transparent;
  animation: dash 1.2s linear forwards;
}

@keyframes dash {
  0% {
    fill: transparent;
  }

  10% {
    fill: transparent;
    stroke-dashoffset: 700;
  }

  30% {
    fill: transparent;
  }

  40% {
    fill: rgba(29, 161, 243, 0.3);
    stroke-dashoffset: 0;
  }

  80% {
    fill: rgba(29, 161, 243, 1);
    stroke-dashoffset: 0;
  }

  100% {
    fill: #1da1f3;
    stroke-dashoffset: 0;
  }
}

// path:first-child  { animation-delay: 0.1s }
path:nth-child(2) { animation-delay: 0.1s }
path:nth-child(3) { animation-delay: 0.2s }
path:nth-child(4) { animation-delay: 0.3s }
path:nth-child(5) { animation-delay: 0.4s }
path:nth-child(6) { animation-delay: 0.5s }
path:nth-child(7) { animation-delay: 0.52s }



// #slogan h2 {
//   position: absolute;
//   margin-left: 50%;
//   margin-top: -50%;
//   transform: translate(-50%, -50%);
//   animation-duration: 0.5s;
//   animation-name: drop;
// }
//
// @keyframes drop {
//   to {
//     margin-top: -10px;
//     color: $light_gray;
//     font-size: 2em;
//   }
// }

#slogan h2 {
  opacity: 0;
  animation: appear 7s linear 1.3s forwards;
  // animation-delay: 1s;
}

// @keyframes fade {
//   // 0% {
//   //   color: $white;
//   //   opacity: 0;
//   // }
//   //
//   // 20% {
//   //   color: $white;
//   //   opacity: 0;
//   // }
//   //
//   // 30% {
//   //   color: $light_gray;
//   //   opacity: 0.2;
//   //   font-size: 2em;
//   // }
//   //
//   // 50% {
//   //   color: $light_gray;
//   //   font-size: 4em;
//   // }
//   //
//   // 100% {
//   //   color: $light_gray;
//   //   font-size: 2em;
//   //   opacity: 1;
//   // }
//
//   0% {
//     opacity: 0;
//   }
//
//   50% {
//     color: $light_gray;
//     opacity: 0.5;
//     font-size: 3em;
//   }
//
//   90% {
//     opacity: 0.5;
//   }
//
//   100% {
//     color: $light_gray;
//     opacity: 1;
//   }
// }

.btn-animation {
  opacity: 0;
  animation: appear 4s linear 1.3s forwards;
  margin-bottom: 5px;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  10% {
  opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.center {
  margin-top: -25px;
  text-align: center;
  background: $white;


  h1 {
    letter-spacing: -2px;
    color: #1da1f3;
    font-family: $logo_font;
    font-size: 8em;
    line-height: 1.1;
    margin: 0;
  }

  .em {
    text-decoration: underline;
  }

  h2 {
    color: $light_gray;
    font-size: 2em;
    margin: 0 auto 30px auto;
  }
}

.container {
  padding: 0;
  width: 100%;
  margin: -15px auto 0 auto;
  background: $white;
}

.wrapper {
  padding: 10px;
  width: 70%;
  margin: 20px auto 0 auto;
  background: $pale_blue;
}

.alert {
  margin: -20px 0 5px 0;
}

.user_forms {
  margin-top: -15px;
}

.jumbotron {
  border-radius: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: $white;
}

#logo {
  padding-top: 4px;
  font-family: $logo_font;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: $main_blue;
  // padding-top: 9px;
  font-weight: bold;
  text-transform: lowercase;
}

.btn-custom {
  background: $btn;
  color: $white;
  border-radius: 30px;

  &:hover {
    background: $btn_hover;
    color: $white;
  }
}

/* Nav */

.navbar-custom {
  background: $white;
}

.navbar-nav > li > a:hover {
  background: $white;
}

.wrap {
  margin: 0 80px 0 80px;
}

/* Footer */

footer {
  height: 50px;
  margin-top: 45px;
  padding-top: 15px;
  // border-top: 1px solid $main_blue;
  background-color: $white;
  color: $light_gray;
}

footer small {
  float: left;
  margin-left: 80px;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 80px;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// User show Page aside

.user aside {
  margin: 10px;
  background: $white;
}

aside {

  section {
    padding: 20px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin: 0 10px 0 10px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input {
  font-family: $main_font;

  &::placeholder {
    color: $placeholder;
  }
}

.form-custom {
  padding: 15px 10px;
}

input, textarea, select, .uneditable-input {
  border-radius: 5px;
  border: 1px solid $pale_blue;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
